@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8rem;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1000;
  position: fixed;
}

header nav {
  width: 400px;
}

header .nav-toggle,
header .nav-toggle-label {
  display: none;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a {
  color: hsl(233, 8%, 62%);
  font-weight: 500;
  transition: all 0.5s;
  position: relative;
}

header nav ul li a:hover {
  color: #000;
}

header nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 230%;
  left: 0;
  background-color: hsl(136, 65%, 51%);
  transition: all 0.5s;
  transform: scaleX(0);
}

header nav ul li a:hover::after {
  transform: scaleX(1);
}

.invite {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 15px 40px;
  color: hsl(0, 0%, 98%);
  border-radius: 50px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.section-one {
  width: 100%;
  height: 100vh;
  padding: 0 8rem;
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: 43rem;
  display: flex;
  align-items: center;
}


#articles {
    background-color: hsl(var(--very-light-gray));

    div.container {
        max-width: 95%;
        min-width: 8rem;
        width: 70%;
        height: fit-content;
        padding-inline: 0.5em;
        padding-block: 1em;
        margin-inline: auto;

        h1 {
            margin-bottom: 1em;
        }

        div {
            display: flex;
            gap: 2rem;

            article {
                display: flex;
                flex-direction: column;
                flex: 1;
                flex-basis: 100%;
                min-width: 10rem;
                background-color: hsl(var(--white));
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .img {
                    width: 100%;
                    aspect-ratio: 1;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    overflow: hidden;

                    img.picture {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: inherit;
                        transition: scale 700ms ease;
                    }

                    div.bg-overlay {
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-color: transparent;
                        border-radius: inherit;
                        transition: opacity 700ms ease;
                    }
                }

                .img:hover img {
                    scale: 1.1;
                }

                .img:hover .bg-overlay {
                    background-image: linear-gradient(0deg, #02010199 0%, #0B0B0B 100%);
                    opacity: 0.8;
                }

                .text {
                    display: block;
                    padding: 1.5rem;

                    .author {
                        margin-bottom: 0.7rem;
                    }

                    p {
                        color: hsl(var(--grayish-blue));
                    }

                    h2 {

                        margin-bottom: 0.75rem;
                        cursor: pointer;
                        transition: color 300ms ease;
                    }

                    h2:hover {
                        color: hsl(var(--lime-green));
                    }
                }
            }
        }
    }
  
.section-one .hero {
  width: 550px;
  z-index: 100;
  height: max-content;
  padding-bottom: 30px;
}

.section-one .hero h1 {
  font-size: 65px;
  font-weight: 300;
}

.section-one .hero p {
  font-size: 22px;
  color: hsl(233, 8%, 62%);
}

.section-one .img {
  position: absolute;
  height: 65rem;
  top: -3rem;
  width: 45%;
  right: 0;
  overflow: hidden;
}


.request-invite {
    text-align: right;
  }
.section-one .img img {
  width: 114%;
  position: relative;
  left: 2rem;
  /* top: -10px; */
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8rem;
  background-color: hsl(233, 26%, 24%);
  position: relative;
}
.footers {
  line-height: 40px;
}
.footer-social {
  line-height: 40px !important;
  text-align: center;
}
/* .footer-resources{
    margin-left: 20px;
}
.footer-resources-2{
    margin-right: 150px;
} */

.request-invite {
  text-align: right;
  /* line-height: 50px; */
}

footer .request-invite button {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-radius: 30px;
  border-style: none;
  height: 38px;
  width: 150px;
  color: white;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
}

footer .footers a {
  color: white;
  text-decoration: none;
  margin: 10px 0 10px;
}

#imglog {
  filter: brightness(03%) invert(100%);
  margin-bottom: 25px;
  margin-top: 10px;
}

@media screen and (max-width: 1400px) {
  header {
    padding: 15px 5rem;
  }

  .section-one {
    padding: 0 5rem;
    background-position-x: 35rem;
  }

  .section-one .hero {
    width: 500px;
  }

  .section-one .hero h1 {
    font-size: 58px;
  }

  .section-one .hero p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .section-one {
    background-position-x: 30rem;
  }

  .section-one .hero {
    width: 450px;
  }

  .section-one .hero h1 {
    font-size: 55px;
  }

  .section-one .hero p {
    font-size: 15px;
  }
}

@media screen and (max-width: 985px) {
  header {
    padding: 15px 2rem;
  }

  .section-one {
    background-position-x: 20rem;
    background-position-y: -20rem;
  }

  .section-one .hero {
    width: 380px;
    margin-top: 6rem;
  }

  .section-one .hero h1 {
    font-size: 40px;
  }

  .section-one .hero p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  header nav {
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    display: flex;
    height: 0;
    justify-content: center;
    margin-top: -10px;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), transparent);
    transition: all 0.5s ease-in-out;
  }

  header nav ul {
    display: block;
    text-align: center;
    width: 90%;
    height: fit-content;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.5s;
  }

  header nav ul li {
    padding: 10px;
  }

  header nav ul li a {
    color: #000;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
  }

  header nav ul li a:after,
  header > a {
    display: none;
  }

  header .nav-toggle-label span,
  header .nav-toggle-label span:before,
  header .nav-toggle-label span:after {
    width: 27px;
    height: 4px;
    background-color: #000;
    display: inline-block;
    border-radius: 10px;
  }

  header .nav-toggle-label span {
    position: relative;
    transform: translateX(0);
    transition: all 0.5s;
    opacity: 1;
  }

  header .nav-toggle-label span:before,
  header .nav-toggle-label span:after {
    content: "";
    position: absolute;
    height: 100%;
  }

  header .nav-toggle-label span:before {
    bottom: 8px;
  }

  header .nav-toggle-label span:after {
    top: 8px;
  }

  header .nav-toggle-label {
    display: block;
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  header .nav-toggle-label p {
    transform: translateX(50px);
    font-size: 30px;
    position: absolute;
    right: 5px;
    font-weight: 600;
    transition: all 0.5s;
    opacity: 0;
  }

  .nav-toggle:checked ~ nav {
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      transparent
    );
  }

  .nav-toggle:checked ~ nav ul {
    display: block;
    transform: scaleY(1);
  }

  .nav-toggle:checked ~ nav ul li a {
    opacity: 1;
  }

  .nav-toggle:checked ~ .nav-toggle-label span {
    opacity: 0;
    transform: translateX(50px);
  }

  .nav-toggle:checked ~ .nav-toggle-label p {
    transform: translateX(0);
    opacity: 1;
  }

  .section-one {
    background-image: url("./images/bg-intro-mobile.svg");
    background-position-x: 0;
    background-position-y: -10rem;
    padding: 0 2rem;
    height: fit-content;
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  .section-one .hero {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-one .img {
    position: relative;
    height: fit-content;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .section-one .img img {
    width: 100%;
    left: 0;
    top: -2rem;
    aspect-ratio: 1 / 1;
  }

  footer {
    flex-direction: column;
    text-align: center;
    font-size: auto;
    width: 100%;
  }

  .request-invite {
    text-align: center !important;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 541px) {
  .section-one .hero h1 {
    font-size: 34px;
  }

  .section-one .hero p {
    font-size: 13px;
    text-align: justify;
  }

  .section-one .hero .invite {
    padding: 10px 30px;
    font-size: 14px;
  }
}

/* Section Two */
section.section-two {
  background-color: hsl(220, 16%, 96%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  text-align: center;
  padding: 1.5rem 2rem;
}

/* Section Two end */
