@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------- */
/* Root Elements */
/* ------------- */
:root {
    /* Primary */
    --dark-blue: 233, 26%, 24%;
    --lime-green: 136, 65%, 51%;
    --bright-cyan: 192, 70%, 51%;
    /* Neutral */
    --grayish-blue: 233, 8%, 62%;
    --light-grayish-blue: 220, 16%, 96%;
    --very-light-gray: 0, 0%, 98%;
    --white: 0, 0%, 100%;
    /* Typography */
    --fnt-w-300: 300;
    --fnt-w-400: 400;
    --fnt-w-700: 700;
    font-family: "Public-Sans", sans-serif;
    font-size: clamp(1.125rem, 1.113rem + 0.0957vi, 1.7113rem);
}

/* ------ */
/* Resets */
/* ------ */

/* Box Sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up the body */

body,
input,
textarea,
select,
button {
    font-synthesis: none;
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
}

body {
    min-height: 100dvh;
}

/* Images */
img,
picture {
    display: block;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* Form Elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
/* @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */

/* --------- */
/* Hard Sets */
/* --------- */

#root {
    width: inherit;
    height: inherit;
}

main {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

p {
    text-wrap: wrap;
}

:has(> .picture) {
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

:has(> .bg-overlay) {
    position: relative;
}

/* --------------- */
/* Utility Classes */
/* --------------- */

/* General Utilities */
:where(.height-auto) {
    height: auto;
}

:where(.width-auto) {
    width: auto;
}

:where(.margin-inline) {
    margin-inline: auto;
}

:where(.margin-block) {
    margin-block: auto;
}

:where(.flex) {
    display: flex;
    gap: 1rem;
}

:where(.row) {
    flex-direction: row;
}

:where(.column) {
    flex-direction: column;
}

:where(.flex-basis) {
    flex-basis: 100%;
}

:where(.flex-grow-shrink) {
    flex: 1;
}

:where(.nowrap) {
    flex-wrap: nowrap;
    white-space: nowrap;
    text-wrap: nowrap;
}

:where(.inline-flex) {
    display: inline-flex;
}

:where(.inline-block) {
    display: inline-block;
}

:where(.grid) {
    display: grid;
    gap: 1rem;
}

:where(.inline) {
    display: inline;
}

:where(.block) {
    display: block;
}

:where(.justify-content) {
    justify-content: center;
}

:where(.justify-items) {
    justify-items: center;
}

:where(.align-content) {
    align-content: center;
}

:where(.align-items) {
    align-items: center;
}

:where(.full-width) {
    width: 100%;
}

:where(.container) {
    max-width: 95%;
    min-width: 8rem;
    width: 50%;
    height: fit-content;
    padding-inline: 0.5em;
    padding-block: 1em;
    margin-inline: auto;
}

:where(.picture) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

:where(.bg-overlay) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    /* background-image: linear-gradient(0deg, #02010199 0%, #0B0B0B 100%); */
    /* opacity: 0.8; */
    border-radius: inherit;
}

:where(.logo-styling) {
    width: calc(60px + 5vw);
    height: fit-content;
}